<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:spacer {"height":50} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"mt-0","layout":{"inherit":true}} -->
<div class="wp-block-group mt-0">
	<!-- wp:query-title {"type":"archive","align":"wide","style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--small, 1.25rem)"}}}} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"loop", "className":"mt-0"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
