<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--medium, 6rem)","top":"var(--wp--custom--spacing--medium, 6rem)"}}},"className":"mt-0","layout":{"inherit":true}} -->
<div class="wp-block-group mt-0" style="padding-bottom:var(--wp--custom--spacing--medium, 6rem);padding-top:var(--wp--custom--spacing--medium, 6rem);">
	<!-- wp:group {"align":"wide"} -->
	<div class="wp-block-group alignwide">
		<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search for posts...","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"loop", "className":"mt-0"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
